{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
<h1 class="m-5">Vinyles</h1>

<div class="row">
    <div class="col-md-3">
        {% include 'products/_filter.html.twig' with {form:form} only %}
    </div>
    <div class="col-md-9">

        <div class="row no-gutters">
            {% for product in products %}
            {# include de card produit à laquelle on passe une liste de produits #}
            {% include 'products/_card.html.twig' with {product : product } only %}
            {% endfor %}
        </div>
    </div>
</div>

{# display navigation #}
<div class="navigation align-items-center">
     {{ knp_pagination_render(products) }} 
</div>










{% endblock %}